#editorcontainer.slideshow {
  overflow: hidden;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 0px;
  top:0px;
  background: radial-gradient(#F0F0F0, #BEBEBE) repeat scroll 0% 0% transparent;
}
iframe.slideshow {
  position:relative !important;
  margin:auto;
  max-width:1024px;
}
.menu_left.slideshow {
  opacity:.1;
}
.menu_right.slideshow {
  opacity:.1;
}
.menu_left.slideshow:hover {
  opacity:1;
}
.menu_right.slideshow:hover {
  opacity:1;
}
