@media (min-width: 860px) {
  
  #editorcontainer.slideshow {
    overflow: hidden;
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 0px;
    top:0px;
    background: url("http://labs.toolness.com/temp/2010-SM-firefox-title.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  iframe.slideshow {
    position: relative;
    max-width: 850px;
  }

  #editbar.slideshow{
    height:0px;
  }
  #editbar.slideshow:hover {
    height:32px;
  }

}
