<p>
<input type="checkbox" id="options-slideshow" <%= checked %>></input> 
<label for="options-slideshow">Slideshow View</label>
</p>
<p>
<input type="checkbox" id="options-slideshowEdit"></input> 
<label for="options-slideshowEdit">Edit when in Slideshow View</label>
</p>
